<div id="micropost-<%= @micropost.id %>">
<% provide(:title, @micropost.user.name) %>
    <section class="user_info">
      <h1>
        <%= gravatar_for @micropost.user %>
        <%= link_to @micropost.user.name,@micropost.user  %>
      </h1>
    </section>
  <div class="micopost_content">
  <%= @micropost.content %>
  </div>
  <div class="stats">
  <%= render 'like_form' %>
  </div>
  <div id="comments">
  <%= render @comments%>
  </div>
  <div class="comment_form">
  <%= render 'shared/comment_form', micropost: @micropost%>
  </div>
  </div>